@charset "UTF-8";
/*********       dokodm common style     **********/

/*@font-face {
  font-family: 'iconfont'; 
  src: url('//at.alicdn.com/t/font_3lg5m3kw0suoko6r.eot');
  src: url('//at.alicdn.com/t/font_3lg5m3kw0suoko6r.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_3lg5m3kw0suoko6r.woff') format('woff'),
  url('//at.alicdn.com/t/font_3lg5m3kw0suoko6r.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_3lg5m3kw0suoko6r.svg#iconfont') format('svg');
}*/

/*theme color*/
.text-black{
	color:#000;
}
.text-danger{
	color:#fb9393;
}
.text-warning{
	color:#ffdd8c;
}
.text-info{
	color:#82c9ff;
}
.text-success{
	color:#4de892;
}
.text-primary{
	color:#57b5fb;
}
.text-muted{
	color:#b5b5b5;
}

/*theme background color*/
.bg-black{
	background-color:#000;
}
.bg-danger{
	background-color:#fb9393;
}
.bg-warning{
	background-color:#ffdd8c;
}
.bg-info{
	background-color:#82c9ff;
}
.bg-success{
	background-color:#4de892;
}
.bg-primary{
	background-color:#57b5fb;
}
.bg-muted{
	background-color:#b5b5b5;
}
.bg-light-white{
  background-color:#fafafa;
}

/*animations*/
.fade-enter-active, 
.fade-leave-active {
  transition: opacity .5s
}
.fade-enter, 
.fade-leave-to{
  opacity: 0
}

.sash{
  border-radius:3px;
  border-width:1px;
  border-style:solid;
  border-color:#ccc;
}
.sash-black{
	border-color:#000;
}
.sash-danger{
	border-color:#FF4949;
}
.sash-warning{
	border-color:#F7BA2A;
}
.sash-info{
	border-color:#58B7FF;
}
.sash-success{
	border-color:#13CE66;
}
.sash-primary{
	border-color:#20A0FF;
}
.sash-muted{
	border-color:#777;
}

/*custom bootstrap style*/
.form-control{
  height:auto;
  padding:5px 12px;
}
.btn{
  padding:5px 12px;
}
.btn-info{
  background-color:#58B7FF;
  border-color:#46afff;
}
.btn-info:hover{
  background-color:#4eb3ff;
  border-color:#29a3ff;
}

